header {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	grid-template-areas: "header";
	background-color: #FFFFFF;


}

header img {
	height: 30px;
	width: 100px;
	float: left;
	padding-left: 60px;
	padding-top: 12px;
	padding-right: 20px;

}

li {
	list-style: none;
	display: inline;
	font-family: Lato, sans-serif;
}

li a {
 
  color: #6B6B6B;
  text-align: center;
  padding: 15px 13px;
  text-decoration: none;
}

li a:hover {
	color: #000000;
}
.he .one {
	padding-top: 10px;

}

.he .two {
	padding-right: 60px;
	padding-top: 0px;
}

.he .two button {
	background-color: #692172;
	color: #FFFFFF;
	font-family: Lato, sans-serif;
	text-align: center;
	font-size: 13px;
	border-radius: 6px;
	border-style: none;
	padding: 15px 25px;
}

.he .two button:hover {
	background-color: #4c0f54;
}












.first {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 50% 50%;
	grid-template-areas: "image-part text-part"; 

}

.image img {
	width: 450px;
	height: 480px;
	padding-left: 150px;
	padding-top: 150px;

}

.text h1 {
	font-family: Lato, sans-serif;
	color: #3F3E3F;
	font-size: 75px;
	padding-top: 50px;

}

.text .unique {
	font-size: 20px;
	font-family: Lato, sans-serif;
	color: #6B6B6B;
	padding-right: 45px;


}

.text button {
	background-color: #692172;
	color: #FFFFFF;
	font-family: Lato, sans-serif;
	text-align: center;
	font-size: 15px;
	border-radius: 6px;
	border-style: none;
	padding: 22px 45px;
}

.text button:hover {
	background-color: #4c0f54;
}

.text input  {
	height: 17px;
	width: 350px;
	padding: 22px 10px;
	border-radius: 6px;
	border: 1px solid #B2AEB2;
	margin: 0px 18px 0px 0px; 

}

::placeholder {
	font-size: 16px;
}

.text p {
	font-size: 15px;
	font-family: Lato, sans-serif;
	color: #6B6B6B;


}









.second {
	display: grid;
	grid-template-columns:  25% 25% 25% 25%;
	grid-template-rows:  100% 100% 100%;
	grid-template-areas: 
	     "hub hub hub hub"
	     "channels search integration security"
	     "more more more more";
	justify-items: center;

}


.teamwork {
	grid-area: 1/1/2/5;
}

.fivelearn {
	grid-area: 3/1/4/5;
}

.teamwork h1 {
	font-family: Lato;
	font-size: 40px;
	color: #1D1D1D;
	padding-left: 32%;
	padding-right: 2%;
	padding-top: 20px;
	justify-content: center;

}

.teamwork p {
	font-family: Lato;
	font-size: 20px;
	color: #6B6B6B;
	padding-left: 25%;
	padding-right: 25%;
	justify-items:  center;
}

.second img {
	width: 100px;
	height: 100px;
}

.second p {
	font-family: Lato;
	font-size: 18px;
	color: #6B6B6B;

}





































